html {
  font-size: 100%; /* = user’s default, usually 16px */
  font-family: sans-serif;
  color:#666;
    background-color:#f9f9f9   ;
}
body *{
    position: relative;
    margin: 0; padding: 0; list-style: none; position: relative; box-sizing: border-box;
    zbox-shadow: inset 0 0 0 .5px rgba(0,255,100,.5), 0 0 0 .5px rgba(0,255,100,.5);
    
}
* {
  transition: all 0.3s ease;
  transition-delay:.05s;
}
.GRID{
    margin:3rem;
    max-width: 60rem;

    & .row{ 
        display: grid;
        grid-template-columns:repeat(3, 1fr);
        & .cell{
            min-height: 2rem;
            
            & button.clear{
                position: absolute;
                top:0; right:0; padding: 0;
                line-height: 1rem;
                width:1rem;
                height: 1rem;
                font-size: .6rem;
                font-weight: bold;
                font-family: monospace;
                text-align: center;
            }
            & input{
                position: absolute;
                right:0; left:0; top:0; bottom:0;
                padding: .5rem;
                border: none;
            }
            & input:focus{
                border-style: solid;
            }
        }

    }

}
.TOASTER {
    position: fixed;
    bottom:1rem;
    right:1rem;
}
.findIt{
    position: relative;

    & button.clear{
        position: absolute;
        top:0; right:0; padding: 0;
        line-height: 1rem;
        width:1rem;
        height: 1rem;
        font-size: .6rem;
        font-weight: bold;
        font-family: monospace;
        text-align: center;
    }
    & ul.options{
        overflow: hidden;
        height: 0;
        position: absolute;
        top: 100%;
        background-color: white;
        box-shadow:.125rem .5rem .5rem 1px rgba(0,0,0,.25), 0 0 0 1px rgba(0,0,0,.25);
        margin: -.25rem 0 0 .125rem;  
        left:0;
        width:0%;
        min-width: 0;
        max-width: 0;
        z-index: -1;
        color:0;
        & a{
            display: block;
            padding: .25rem .5rem;
            color:black;
            white-space: nowrap;
            text-decoration: none;
        }
        & .active{
            background-color: yellow;
            font-weight: 600;
        } 
    }
}
.findIt:focus,
.findIt:focus-within{
    z-index: 9;
    & ul.options{
        z-index: 9;
        height: 10rem;
        min-width: 100%;
        max-width: 200%;
        width:auto;
        overflow: auto;
    } 
}
.scoop-grid.batches{
    & form{
        display:inline-flex;
        align-items: flex-end;
        margin:2rem;
        gap:0;
        flex-direction: row;

        & button.save{
            height: 2.5rem;
            width: 2.5rem;
            font-size: 0;
            padding:0;
            text-align: center;
        }
        & .zGRID{
            margin:0;
            & th{
                font-size: 0.75rem;
                padding:.5em;
                text-transform: capitalize;
            }
        }
    }
}
table.zGRID{
    width:auto;
    border-spacing: 0;
    border-collapse: collapse;
    border:1px solid rgba(0,50,0,1);
    & th,
    & td{
        border-spacing: 0;
        border-collapse: collapse;
        border:1px solid rgba(200,50,0,1);
    }
    & th,
    & .groupCell{
        padding:.5rem;
    }
    & .groupCell{
        & b{
        display: flex;
        gap:.25rem;
        vertical-align: middle;
        align-items: center;
        }
    }
    & .collapsible.opened{
        & .row td >*{
          max-height:20rem;
          
        }
         
    }
    & .collapsible.closed{
        & .group td{
          border-bottom:none;
        }
        & .row td{
        padding:0 .5rem;
        overflow:hidden;
        line-height:0;
        color:transparent;
        background:transparent;
        border:none;
    }
        & .row td>*{
          display:block;
          max-height:0rem;
          overflow:hidden;
        }
        & .row td button,
        & .row td input {display:none;}
        & .row td *{
                background:transparent;
                
          }
    }
    & tr{
        & .badges{
            font-size: .6rem;
            & .badge{
                display: inline-block;
                color: white;
                background-color: rgba(10, 100, 70, 1.75);
                height: .9rem;
                line-height: .9rem;
                padding: 0 .25rem;
                text-align: center;
                border-radius: .45rem;
                margin: .25rem;
                min-width: .9rem;
                font-weight: bold;
            }
        }
        & .id{ display:none}
        & .minMax:before {
            content: '+';
        }
        & th{
            font-size:.8rem;
        }
        & .number {
            width:3rem;

            & div.cell{
                padding:.0;
                width:100%;
                position:absolute;
                top:0;
                bottom:0;
                & .clear{
                    display:none;
                }
            }
        }

        & .cell{
            position: relative;
            padding: 1.25rem 6rem;

            & .badges{
                position: absolute;
                display: block;
                right: 0rem;
                bottom: 0;
            }
            & button.clear{
                position: absolute;
                top:0; right:0; padding: 0;
                line-height: 1rem;
                width:1rem;
                height: 1rem;
                font-size: .6rem;
                font-weight: bold;
                font-family: monospace;
                text-align: center;
                display: none;
            }
            & .findIt,
            & input{
                position: absolute;
                border-style: solid;
                border:none;
                top:0; left:0; right:0; bottom:0;
                padding:.5rem .75rem;                
            } 

        }
        & .cell.read-only{
            padding:.5rem .5rem;
        }
        & .cell.textIt-box{padding:0}
    }
}

form.zGRID-form{

    display: inline-flex;
    flex-direction: column;
    gap:.5rem;
    margin:2rem;

    & button.save{
        padding:.5rem;
        text-align: right;
        box-shadow: .125rem .125rem .5rem rgba(0,0,0,.05125),-.125rem .125rem .5rem rgba(0,0,0,.05125);
        border:1px solid;
    }
    & button.save::after{
        content: '💾';
        font-size: 1rem;
        line-height: .8rem;
        font-weight: bold;
        margin: 0 .25rem;
    }
}